/*
Grid
=================================
*/

/* Default Settings */

:root {
  /* COLOR PALETTE VARIABLES */
  --color-1: #111111; /* <-- Dark Grey */
  --color-2: #00b7fa; /* <-- Nexus Blue */
  --color-3: #556070; /* <-- Light Grey */
  --color-4: #34495e; /* <-- Medium Grey */
  --color-5: #ffffff; /* <-- White */
}
