/*------------------------------------------------------------------
[OVERVIEW MODULE Stylesheet] Overview Module CSS
--------------------------------------------------------------------
Table of Contents
	I	General
	II	Nexus Earth Visualization
	III	Balance
	IV	Container
	V	Left Content - connection, Block Weight, Block Count
	VI	Right Content - Trust Weight, Interest Weight, Stake Weight

/*------------------------------------------------------------------
	I. GENERAL
------------------------------------------------------------------*/
.h2 {
  letter-spacing: 1px;
  margin-right: -3px;
  text-shadow: 2px 2px #111111;
  font-weight: bold;
}
.h2-nospace {
  font-size: 0.8em;
  letter-spacing: 0px;
  text-shadow: 2px 2px #111111;
}

.maxmindCopyright {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  color: var(--color-2);
  opacity: 0.4;
  filter: hue-rotate(0deg) grayscale(0%) brightness(100%);
}

/*------------------------------------------------------------------
I. NEXUS EARTH VISUALIZATION
------------------------------------------------------------------*/
.earth {
  margin: 0 auto;
  order: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  align-items: center;
}
#nxs-earth {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: left;
  overflow: hidden;
}
canvas {
  overflow: hidden;
}

/*------------------------------------------------------------------
II. BALANCE
------------------------------------------------------------------*/
.overviewValue {
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: -1px;
  margin-top: 2px;
  text-shadow: 2px 2px #111111;
}

/*------------------------------------------------------------------
III. CONTAINER
------------------------------------------------------------------*/
#overviewPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  margin: 0 -10%;
}

/*------------------------------------------------------------------
IV. LEFT CONTENT - connection, Block Weight, Block Count
------------------------------------------------------------------*/
.left-stats {
  display: flex;
  width: 275px;
  flex-direction: column;
  align-self: center;
  text-align: right;
  margin-top: -2em;
  z-index: 1;
}
.left-stats img {
  position: absolute;
  width: 35px;
  height: 35px;
  padding-top: 5px;
  padding-left: 20px;
  filter: var(--icon-menu);
}
.left-stats > div > div {
  margin: 2em 0;
}
.left-top-stats {
  margin-bottom: -1em;
}
.left-bottom-stats {
  margin-top: -1em;
}
.left-stats > div img {
  float: right;
}

/*------------------------------------------------------------------
V. RIGHT CONTENT - Trust Weight, Interest Weight, Stake Weight
------------------------------------------------------------------*/
.right-stats {
  display: flex;
  width: 275px;
  flex-direction: column;
  align-self: center;
  text-align: left;
  margin-top: -2em;
  z-index: 1;
}
.right-stats img {
  position: absolute;
  width: 35px;
  height: 35px;
  padding-top: 5px;
  padding-right: 20px;
  left: -55px;
  filter: var(--icon-menu);
}
.right-stats > div > div {
  margin: 2em 0;
}
.right-stats > div img {
  float: left;
}

/*------------------------------------------------------------------
MEDIA QUERIES
------------------------------------------------------------------*/

@media (min-width: 300px) {
}
@media (min-width: 375px) {
}
@media (min-width: 480px) {
}
@media (min-width: 600px) {
}
@media (min-width: 800px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1600px) {
}

/*------------------------------------------------------------------
PROGRESS BAR STYLING
------------------------------------------------------------------*/
.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: var(--color-2);
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
