#addressbook {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#addressbook > h2 {
  flex: 0;
}

#addressbook > .panel {
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0; /* remove panel padding, sub controls will add their own */
}

/*****************************************
Add Contact Modal
*****************************************/

#addressbook .field input,
#addressbook .field select,
#addressbook .field textarea {
  width: 100%;
  display: block;
}

#addressbook .field label {
  font-size: .8125em;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: .5;
}

/*****************************************
Export Button
*****************************************/

a.export {
	display: block;
  position: absolute;
  top: 4em;
  right: 0;
  font-family: var(--mono-font-family);
	font-size: .875em;
  opacity: .75;
  color: #fff;
  cursor: pointer;
}

a.export:hover {
  opacity: .95;
  text-decoration: underline;
}

#addressbook #addressbook-controls {
  box-sizing: border-box;
  flex: 0;
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

/*****************************************
Address Book Contacts
*****************************************/

#addressbook-contacts {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  flex: 1;
  width: 100%;
  /* padding: 1em; */
  overflow: auto;
}

#addressbook-contacts ul{
  flex: 1;
  margin: 0;
  padding: 1em;
  /* overflow: hidden; */
}

#addressbook-contacts ul:hover{
  /* overflow: auto; */
}

#addressbook-contacts li {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1.5em;
  line-height: 3.5em;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-left: 3px solid transparent;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#addressbook-contacts li:hover {
  background-color: rgba(255,255,255,0.15);
  border-left-color: var(--color-2);
}

#addressbook-contacts svg {
  text-anchor: middle;
  fill: white;
  font-size: 50px;
  height: 32px;
  width: 32px;
  background-color: #555;
  border-radius: 50%;
  margin-right: .1em;
  vertical-align: middle;
}

#addressbook-contacts li span {
  flex: 1;
  opacity: .65;
  font-size: .875em;
}

#addressbook-contacts .contact-avatar {
  flex: 0;
  padding-right: 1em;
  opacity: 1;
}

#addressbook-contacts .contact-name {
  opacity: 1;
  font-size: 1em;
}

/*****************************************
Address Book View Contact
*****************************************/

#addressbook-contact-detail {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30em;
  max-width: 100%;
  padding: 1em 2em;
  background-color: var(--modal-background-color);
  animation-name: show-contact-view;
  animation-duration: .5s;
}

#addressbook-contact-detail.close {
  animation-name: hide-contact-view;
  animation-duration: .5s;
}

@keyframes show-contact-view {
  from {right: -100%;}
  to {right: 0}
}

@keyframes hide-contact-view {
  from {right: 0;}
  to {right: -100%; opacity: 0}
}

#addressbook-contact-detail #close-contact {
  display: block;
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  cursor: pointer;
}

#addressbook-contact-detail #close-contact svg {
  fill: var(--modal-close-button-color);
}

#addressbook-contact-detail #close-contact:hover svg {
  filter: brightness(150%);
}

#addressbook-contact-detail #edit-contact,
#addressbook-contact-detail #save-contact  {
  display: block;
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  cursor: pointer;
  margin: 0;
}

#addressbook-contact-detail #edit-contact img {
  height: 1.125em;
  width: 1.125em;
  opacity: .5;
  filter: grayscale(1) brightness(200%);
}

#addressbook-contact-detail #edit-contact:hover img {
  opacity: 1;
}

#addressbook-contact-detail h3 {
  margin-bottom: 1.5em;
}

#addressbook-contact-detail h4 {
  margin: .5em 0;
  font-weight: 600;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: .5em;
}

#addressbook-contact-detail .contact-detail,
#addressbook-contact-detail .contact-address {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

#addressbook-contact-detail .contact-detail label,
#addressbook-contact-detail .contact-address label {
  flex: 0;
  flex-basis: 9em;
  display: inline-block;
  padding-left: 1em;
  font-size: .8125em;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: .5;
}

#addressbook-contact-detail .contact-detail span {
  display: block;
  flex: 1;
}

#addressbook-contact-detail .contact-detail span input,
#addressbook-contact-detail .contact-detail span select,
#addressbook-contact-detail .contact-detail span textarea {
  font-size: .875em;
  width: 100%;
}

#addressbook-contact-detail .contact-address span {
  display: block;
  flex: 1;
  font-family: var(--mono-font-family);
  font-size: .875em;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

#addressbook-contact-detail .contact-address span.copied {
  animation-name: copied;
  animation-duration: 4s;
}

#addressbook-contact-detail h3 svg {
  text-anchor: middle;
  fill: white;
  font-size: 48px;
  height: 42px;
  width: 42px;
  background-color: #555;
  border-radius: 50%;
  margin-right: .25em;
  vertical-align: -13px;
}

#addressbook-contact-detail > div {
  padding: .5em 0;
}

#addressbook-contact-detail header {
  font-size: .8125em;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: .5;
}

#addressbook-contact-detail #my-addresses,
#addressbook-contact-detail #their-addresses {
  margin: 0;
  padding: 0;
}

#addressbook-contact-detail #my-addresses td,
#addressbook-contact-detail #their-addresses td {
  padding: .25em .75em;
  font-family: var(--mono-font-family);
  font-size: .875em;
  cursor: pointer;
  position: relative;
}

#addressbook-contact-detail #my-addresses td span,
#addressbook-contact-detail #their-addresses td span{
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#addressbook-contact-detail #my-addresses td img,
#addressbook-contact-detail #their-addresses td img {
  position: absolute;
  top: 0;
  right: 0;
  height: 16px;
  width: 16px;
  padding: .325em;
  visibility: hidden;
}

#addressbook-contact-detail #my-addresses td:hover img,
#addressbook-contact-detail #their-addresses td:hover img {
  visibility: initial;
}

#addressbook-contact-detail #my-addresses td.copied,
#addressbook-contact-detail #their-addresses td.copied {
  animation-name: copied;
  animation-duration: 4s;
}

/* #addressbook-contact-detail #my-addresses li,
#addressbook-contact-detail #their-addresses li {
  display: flex;
  padding: .125em 0;
  font-family: var(--mono-font-family);
  font-size: .875em;
  cursor: pointer;
}

#addressbook-contact-detail #my-addresses li span,
#addressbook-contact-detail #their-addresses li span{
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#addressbook-contact-detail #my-addresses li img,
#addressbook-contact-detail #their-addresses li img {
  visibility: hidden;
  height: 16px;
  width: 16px;
  padding-left: 1em;
}

#addressbook-contact-detail #my-addresses li img:hover,
#addressbook-contact-detail #their-addresses li img:hover {
  filter: brightness(75%);
}

#addressbook-contact-detail #my-addresses li:hover img,
#addressbook-contact-detail #their-addresses li:hover img {
  visibility: initial;
}

#addressbook-contact-detail #my-addresses li.copied,
#addressbook-contact-detail #their-addresses li.copied {
  animation-name: copied;
  animation-duration: 4s;
} */

@keyframes copied {
  from {color: var(--color-2);}
  to {color: var(--body-font-color);}
}

/*****************************************
Address Book Edit Contact
*****************************************/

#addressbook-contact-edit {
  box-sizing: border-box;
  flex: 1;
  height: 100%;
  padding: 1em 2em;
}

#addressbook-contact-edit h4 {
  margin: 0;
  font-size: 1.25em;
  font-weight: 600;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: .25em .5em 1em 0;
}

/* #addressbook-contact-edit > div {
  padding: .75em.5em;
  border-bottom: 1px solid rgba(255,255,255,0.1);
} */

#addressbook-contact-edit header {
  font-size: .8125em;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: .5;
}

#addressbook-contact-edit #their-addresses {
  margin: 0;
  padding: 0;
}

#addressbook-contact-edit #their-addresses li {
  display: flex;
  padding: .125em 0;
  font-family: var(--mono-font-family);
  font-size: .875em;
  cursor: pointer;
}

#addressbook-contact-edit #their-addresses li span{
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#addressbook-contact-edit #their-addresses li img {
  visibility: hidden;
  height: 16px;
  width: 16px;
  padding-left: 1em;
}

#addressbook-contact-edit #their-addresses li img:hover {
  filter: brightness(75%);
}

#addressbook-contact-edit #their-addresses li:hover img {
  visibility: initial;
}

#addressbook-contact-edit .button {
  float: right;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}