#addressbook {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#addressbook > h2 {
  flex: 0;
}

#addressbook > .panel {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  padding: 20px; /* remove panel padding, sub controls will add their own */
  padding-bottom: 0;
}

#contactListContainer {
  display: flex;
  flex-direction: column;
}

#contactDetailContainer {
  flex: 2;
  margin-left: 20px;
}

#contactList {
  flex: 1;
}

#contactDetails {
  margin: calc(var(--line-height) * 1em - 1px) 0;
  padding: 0 calc(var(--line-height) * 1em);
  border-color: var(--border-color);

  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
  border-width: 2px;
  border-style: groove;

  border-image: initial;
}

#addressbook-controls {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex: 0;
  width: 100%;
  min-height: min-content;
  padding: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#addressbook-search {
  flex: 1;
}

#addressbook-controls button {
  flex: 0;
  align-self: flex-end;
  margin: 0;
  /* margin-top: 1em; */
  margin-left: 0.75em;
  font-size: 13px;
  line-height: 26px;
  padding: 2px 14px;
}

#addressbookContent {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#addressbook-search {
  /* flex: 1; */
  display: flex;
}

#searchContacts {
  height: 100%;
  margin: 0 !important;
}

#modalInternal textarea,
select {
  width: 100%;
}

#nxsaddress {
  width: 100%;
}
