#Header {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 99999;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  overflow: initial !important; /* override #App > div style to make modules have scrollbars if larger than viewport */
}

#hdr-line {
  width: 80%;
  height: 4px;
  margin: 0 auto;
  background: -webkit-linear-gradient(
    left,
    transparent 0%,
    var(--color-2) 50%,
    transparent 100%
  );
}

#logo {
  margin: 1em 0;
  display: block;
  max-height: 49px;
  filter: hue-rotate(0deg) brightness(100%);
}

#settings-menu {
  display: inline-block;
  position: absolute;
  top: 2em;
  right: 4em;
}

.icon {
  display: inline-block;
  position: relative;
  padding: 0 5px;
  width: 20px;
  height: 20px;
}

.icon .tooltip {
  width: 120px;
}

.noDaemonPort{
  position: absolute;
  padding: 0px;
  top: 90px;
}

/* MODAL STYLE */

.custom-overlay {
  background: transparent;
  padding: 0px;
}

.custom-modal {
  background: var(--color-2);
  position: absolute;
  bottom: 80%;
  right: 0px;
  height: 55px;

  font-size: 10px;
  border: 5px solid var(--color-5);
  -webkit-animation: mymove 5s;
  animation: mymove 5s;
  white-space: nowrap;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 30px white;
  -moz-box-shadow: 0 3px 30px white;
  box-shadow: 0 3px 30px white;
}
@keyframes mymove {
  0% {
    right: -5%;
    background-color: var(--color-3);
  }
  25% {
    right: 0%;
    background-color: var(--color-2);
  }

  50% {
    right: 0%;
    background-color: var(--color-3);
  }

  100% {
    right: 0px;
    background-color: var(--color-2);
  }
}
