#Header {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 99999;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  overflow: initial !important; /* override #App > div style to make modules have scrollbars if larger than viewport */
}

#hdr-line {
  width: 80%;
  height: 4px;
  margin: 0 auto;
  background: -webkit-linear-gradient(
    left,
    transparent 0%,
    var(--color-2) 50%,
    transparent 100%
  );
}

#logo {
  margin: 1em 0;
  display: block;
  max-height: 49px;
}

#settings-menu {
  display: inline-block;
  position: absolute;
  top: 2em;
  right: 4em;
}

.icon {
  display: inline-block;
  position: relative;
  padding: 0 5px;
  width: 20px;
  height: 20px;
}

.icon .tooltip {
  width: 120px;
}

/* MODAL STYLE */

/* .transition-enter {
  transform: scale(0);
}
.transition-enter-active {
  transform: scale(1);
  transition: transform 1000ms ease;
}
.transition-exit {
  transform: scale(1);
}
.transition-exit-active {
  transform: scale(0);
  transition: transform 1000ms ease;
} */
.custom-overlay {
  background: transparent;
  transition: 5s;
}
.custom-modal {
  background: var(--color-2);
  position: fixed;
  bottom: 80%;
  right: 0px;
  width: 270px;
  left: 0px;
  height: 55px;
  font-size: 10px;
  opacity: 0.5;
  /* -webkit-animation: mymove 2s; */
  animation: mymove;
  animation-duration: 1s;
  overflow: hidden;
  white-space: nowrap;
}
@keyframes mymove {
  from {
    left: 0px;
    width: 0;
    margin: 0;
    height: 55px;
    overflow: hidden;
  }

  to {
    width: 270px;
    height: 55px;
  }
}
