#Header {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 99999;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  overflow: initial !important; /* override #App > div style to make modules have scrollbars if larger than viewport */
}

#hdr-line {
  width: 80%;
  height: 4px;
  margin: 0 auto;
  background: -webkit-linear-gradient(
    left,
    transparent 0%,
    var(--color-2) 50%,
    transparent 100%
  );
}

#logo {
  margin: 1em 0;
  display: block;
  max-height: 49px;
}

#settings-menu {
  display: inline-block;
  position: absolute;
  top: 2em;
  right: 3em;
  overflow:hidden;
}

.icon {
  display: inline-block;
  position: relative;
  padding: 0 5px;
  width: 20px;
  height: 20px;
}

.icon .tooltip {
  width: 120px;
}