#send-receive {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#send-receive > h2 {
  flex: 0;
}

#send-receive > .panel {
  flex: 1;
  overflow-y: auto;
}

#shifty-pannel {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#line {
  flex: 1;
  width: 4px;
  height: 100%;
  margin: 0 auto;
  background: -webkit-linear-gradient(
    transparent 0%,
    var(--color-2) 50%,
    transparent 100%
  );
  margin-right: 50px;
  margin-left: 50px;
}

#confirmation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*  */
select {
  padding: 3px;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  color: #888;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

label {
  position: relative;
}
label:after {
  content: "<>";
  font: 11px "Consolas", monospace;
  color: #aaa;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 8px;
  top: 2px;
  padding: 0 0 2px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  pointer-events: none;
}
label:before {
  content: "";
  right: 6px;
  top: 0px;
  width: 20px;
  height: 20px;
  background: #f8f8f8;
  position: absolute;
  pointer-events: none;
  display: block;
}
