* text eol=lf
*.png binary
*.ico binary
*.icns binary
*.mmdb binary
*.jpg binary
*.bmp binary
*.svg binary
*.jpeg binary
*.ttf binary
*.woff binary
*.woff2 binary
assets/win32/cores/* binary
assets/darwin/cores/* binary
assets/linux/cores/* binary
