/*
Panel
=====================================
*/

:root {
  --panel-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  --panel-gradient: linear-gradient(
    to bottom,
    var(--panel-background-color) 0%,
    var(--panel-background-color) 100%
  );
}

.panel {
  /* margin: auto; */
  box-sizing: border-box;
  position: relative;
  background-image: var(--panel-gradient), var(--background-main-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.panel .panel {
  background-color: var(--panel-background-color);
  background-image: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.panel .panel::before {
  filter: initial;
  margin: 0;
}

/*------------------------------------------------------------------
MEDIA QUERIES
------------------------------------------------------------------*/

@media (min-width: 300px) {
  .panel {
    padding: 0;
  }
}
@media (min-width: 375px) {
}
@media (min-width: 480px) {
  .panel {
    padding: calc((var(--line-height) * 1em) / 2 );
  }
}
@media (min-width: 600px) {
}
@media (min-width: 800px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1600px) {
}