@font-face {
  src: url("./fonts/MyriadPro-Regular.ttf") format("truetype");
  font-family: "Myriad Pro";
}

@font-face {
  src: url("./fonts/FranklinGothic-DemiCondensed.otf") format("truetype");
  font-family: "Franklin Gothic";
}
