#settings {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* 
#SettingsStyle {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#styleForm {
  flex: 1;
} */

#settings > h2 {
  flex: 0;
}

#settings > .panel {
  flex: 1;
  overflow-y: auto;
}

#settings > .panel > .tabs {
  position: relative;
}

section {
  --column-width: 6;
  position: relative;
  padding-top: calc(var(--gutter));
  padding-bottom: calc(var(--gutter));
}

@media (min-width: 1200px) {
  section {
    --column-width: 8;
  }
}

@media (min-width: 1600px) {
  section {
    --column-width: 12;
  }
}

.clear-both {
  clear: both;
}

/* Settings imported from PreAlpha */

section {
  --column-width: 4;
  --field-align-label-width: 75%;
  position: relative;
  padding-top: calc(var(--gutter));
  padding-bottom: calc(var(--gutter));
}

/* @media (min-width: 800px) {
	section {--column-width: 2;}
}

@media (min-width: 1200px) {
	section {--column-width: 4;}
}

@media (min-width: 1600px) {
	section {--column-width: 4;}
} */

/*
Form
=====================================
*/

form {
  position: relative;
  /* padding: calc(var(--line-height) * 1em);
	padding-top: 0; */
  border: 1px solid transparent;
  text-align: left;
}

.note {
  padding: 1em;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}

#settings input[type="file"] {
  margin: 0;
  padding: 0;
  height: 2em;
  background: transparent;
  color: transparent;
  outline: 0;
}
#settings input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

.wallpaperDiv {
  margin-left: -10px;
}
#settings input[type="file"]::before {
  /* content: "Select a wallpaper"; */

  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0.4375em 1.25em;
  vertical-align: middle;
  line-height: var(--line-height);

  outline: 0;
  border: var(--button-border);
  border-radius: var(--button-border-radius);

  background: var(--button-background);
  box-shadow: var(--button-box-shadow);
  text-shadow: var(--button-text-shadow);

  color: var(--button-color);

  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;

  cursor: pointer;

  transition: all 0.1s ease;
}
#settings input[type="file"]:hover::before {
  color: var(--button-hover-color);
  border: var(--button-hover-border);
  background: var(--button-hover-background);
  text-decoration: none;
  transform: var(--button-hover-transform);
  box-shadow: var(--button-hover-box-shadow);
}
#settings input[type="file"]:active {
  outline: 0;
}
.fee input[type="number"] {
  height: 27px;
  width: 60px;
  border: 1.5px solid var(--color-4);
}

.fee {
  display: flex;
  width: 100px;
  flex-direction: row;
  flex-wrap: wrap;
}
.langSet {
  display: flex;
  width: 125px;
  flex-direction: row;
  flex-wrap: wrap;
}

.language {
  /* background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0; */

  width: 300px;

  /* background-color: var(--color-3); */

  color: var(--color-4);
}

.Txfee {
  display: flex;
  /* Tell the input to use all the available space */
  flex-grow: 1;
  /* And hide the input's outline, so the form looks like the outline */
}

.feebutton {
  /* Just a little styling to make it pretty */
  border: 1px solid var(--color-4);
  background: var(--color-4);
  color: var(--color-5);
  margin-left: -10%;
}
.Languagebutton {
  /* Just a little styling to make it pretty */
  border: 1px solid var(--color-4);
  background: var(--color-4);
  color: var(--color-5);
  margin-left: -10%;
  padding: 5px;
  width: 120px;
  height: 30px;
}
#no-button {
  float: right;
}
#ok-button {
  float: left;
}

#noPad {
  margin-left: 0;
}

.custom-overlay {
  position: absolute;
  padding: 0px;
  overflow: hidden;
}
.custom-modal5 {
  background: #282828;
  /* animation: mymove2 0.5s ease-in-out; */
  height: 500px;
  width: 420px;
  max-width: 100%;
}
/*------------------------------------------------------------------
MEDIA QUERIES
------------------------------------------------------------------*/

@media (min-width: 300px) {
}
@media (min-width: 375px) {
}
@media (min-width: 480px) {
}
@media (min-width: 600px) {
}
@media (min-width: 800px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1600px) {
}

.LanguageTranslation {
  border-bottom: 2px solid var(--color-4);
  margin-left: -40px;
}

.LanguageTranslation:hover {
  /* animation: LanguageTranslation 0.5s; */
}
@keyframes LanguageTranslation {
  /* 33% {
    transform: translateX(-20px);
  } */
  66% {
    transform: translateX(10px);
  }
  99% {
    transform: translateX(10px);
  }
}

.langTag {
  float: right;
}
.langsetter {
  float: left;
  margin-left: 5px;
}
.langList {
  border: 3px solid var(--color-3);
  display: block;
  height: 400px;
  border-radius: 10px;
}

.langRadio {
  height: 15px;
  width: 15px;

  border-radius: 50%;
}

/* TEST */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;

  border-radius: 100%;
  background: var(--color-4);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: var(--color-2);
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
ul li:hover label {
  color: var(--color-2);
  transform: translateX(10px);
  transition: all 0.5s ease-in-out;
}
