/*
Button
=================================
*/

/* Default Settings */

:root {
  --button-border-radius: 5px;
  --button-box-shadow: none;
  --button-color: var(--color-5);
  --button-text-shadow: none;
  --button-border: none;
  --button-background: var(--color-4);
  --button-hover-color: var(--color-5);
  --button-hover-border: none;
  --button-hover-background: var(--color-4);
  --button-hover-box-shadow: 0 0.25em 2em rgba(0, 0, 0, 0.2);
  --button-hover-transform: scale(1.04);
  --button-active-transform: scale(1.02);

  --button-primary-color: var(--color-5);
  --button-primary-text-shadow: none;
  --button-primary-border: none;
  --button-primary-background: var(--color-2);
  --button-primary-hover-color: var(--color-5);
  --button-primary-hover-border: none;
  --button-primary-hover-background: var(--color-2);

  --button-positive-color: var(--color-5);
  --button-positive-text-shadow: none;
  --button-positive-border: none;
  --button-positive-background: #32d66d;
  --button-positive-hover-color: var(--color-5);
  --button-positive-hover-border: none;
  --button-positive-hover-background: #32d66d;

  --button-warning-color: var(--color-5);
  --button-warning-text-shadow: none;
  --button-warning-border: none;
  --button-warning-background: #fa0;
  --button-warning-hover-color: var(--color-5);
  --button-warning-hover-border: none;
  --button-warning-hover-background: #fa0;

  --button-negative-color: var(--color-5);
  --button-negative-text-shadow: none;
  --button-negative-border: none;
  --button-negative-background: #e74c3c;
  --button-negative-hover-color: var(--color-5);
  --button-negative-hover-border: none;
  --button-negative-hover-background: #e74c3c;

  --button-ghost-color: var(--color-5);
  --button-ghost-text-shadow: none;
  --button-ghost-border: 1px solid var(--color-4);
  --button-ghost-background: none;
  --button-ghost-hover-color: var(--color-5);
  --button-ghost-hover-border: 1px solid var(--color-5);
  --button-ghost-hover-background: none;
}

/* Button - Default  */

.button {
  display: inline-block;
  position: relative;
  margin: 0.375em 0.5em;
  padding: 0.4375em 1.25em;
  vertical-align: middle;
  line-height: var(--line-height);

  outline: 0;
  border: var(--button-border);
  border-radius: var(--button-border-radius);

  background: var(--button-background);
  box-shadow: var(--button-box-shadow);
  text-shadow: var(--button-text-shadow);

  color: var(--button-color);

  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;

  cursor: pointer;

  transition: all 0.1s ease;
}

.button:hover {
  color: var(--button-hover-color);
  border: var(--button-hover-border);
  background: var(--button-hover-background);
  text-decoration: none;
  transform: var(--button-hover-transform);
  box-shadow: var(--button-hover-box-shadow);
}

.button:active {
  /*top: 1px;*/
  transform: var(--button-active-transform);
}

.button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.button[disabled]:active {
  top: 0;
}

.button img {
  vertical-align: middle;
}

.button span {
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button img + span {
  margin-left: 0.4em;
}

/* Button - Hero Sized */

.button.hero {
  font-size: 1.5em;
  padding: 0.375em 1.5em;
}

/* Button - Large Sized */

.button.large {
  font-size: 1em;
  padding: 0.375em 1.5em;
}

/* Button - Small Sized */

.button.small {
  font-size: 0.75em;
}

/* Button - Primary Coloring */

.button.primary {
  color: var(--button-primary-color);
  text-shadow: var(--button-primary-text-shadow);
  border: var(--button-primary-border);
  background: var(--button-primary-background);
}

.button.primary:hover {
  color: var(--button-primary-hover-color);
  border: var(--button-primary-hover-border);
  background: var(--button-primary-hover-background);
}

/* Button - Positive Coloring */

.button.positive {
  color: var(--button-positive-color);
  text-shadow: var(--button-positive-text-shadow);
  border: var(--button-positive-border);
  background: var(--button-positive-background);
}

.button.positive:hover {
  color: var(--button-positive-hover-color);
  border: var(--button-positive-hover-border);
  background: var(--button-positive-hover-background);
}

/* Button - Warning Coloring */

.button.warning {
  color: var(--button-warning-color);
  text-shadow: var(--button-warning-text-shadow);
  border: var(--button-warning-border);
  background: var(--button-warning-background);
}

.button.warning:hover {
  color: var(--button-warning-hover-color);
  border: var(--button-warning-hover-border);
  background: var(--button-warning-hover-background);
}

/* Button - Negative Coloring */

.button.negative {
  color: var(--button-negative-color);
  text-shadow: var(--button-negative-text-shadow);
  border: var(--button-negative-border);
  background: var(--button-negative-background);
}

.button.negative:hover {
  color: var(--button-negative-hover-color);
  border: var(--button-negative-hover-border);
  background: var(--button-negative-hover-background);
}

/* Button - Ghost Style */

.button.ghost {
  padding: 0.375em 1.1875em;
  color: var(--button-ghost-color);
  text-shadow: var(--button-ghost-text-shadow);
  border: var(--button-ghost-border);
  background: none;
}

.button.ghost:hover {
  color: var(--button-ghost-hover-color);
  border: var(--button-ghost-hover-border);
}

/*------------------------------------------------------------------
MEDIA QUERIES
------------------------------------------------------------------*/

@media (min-width: 300px) {
}
@media (min-width: 375px) {
}
@media (min-width: 480px) {
}
@media (min-width: 600px) {
}
@media (min-width: 800px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1600px) {
}
