/*
Forms
=================================
*/

/* Default Settings */

:root {
  --input-border-width: 0;
  --input-border-style: solid;
  --input-border-color: var(--color-5);
  --input-border-radius: 0;
  --input-background-color: var(--color-5);
  --input-color: var(--color-4);
  --input-focus-color: var(--color-1);
  --input-invalid-border-color: red;
  --field-align-label-width: 25%;
}

/* Element Styles */

fieldset {
	margin: calc(var(--line-height) * 1em - 1px) 0; /* subtract 1px border */
	padding: 0 calc(var(--line-height) * 1em);
	border-color: var(--border-color);
}

textarea,
select,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	box-sizing: border-box;
	margin: calc(var(--input-border-width) * -1) 0; /* if there is a border reduce margin so it sits properly on the vertical scale */
	padding: .125em .5em;
	border-width: var(--input-border-width);
	border-style: var(--input-border-style);
	border-color: var(--input-border-color);
	border-radius: var(--input-border-radius);
	background-color: var(--input-background-color);
	font: inherit;
  color: var(--input-color);
  -webkit-appearance: none; /* makes select elements behave like regular inputs and respect padding */
}

textarea:focus,
select:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  color: var(--input-focus-color);
  outline: 2px solid var(--color-4);
}

input:invalid,
textarea:invalid {
	border-color: var(--input-invalid-border-color);
}

select {
	/* unlike other form inputs a select doesn't use line-height, we need to add padding to get it there */
	padding: calc(2px * 1em) 0 calc(1px * 1em) .375em;
}





.field,
.block .field,
fieldset.block .field,
form div.field.block,
.inline .field,
fieldset.inline .field,
form div.field.inline,
.aligned .field,
fieldset.aligned .field,
form div.field.aligned {
  position: relative;
  display: block;
}

.field label,
.block .field label,
form div.field.block label,
.inline .field label,
form div.field.inline label,
.aligned .field label,
form div.field.aligned label {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.field,
.block .field,
fieldset.block .field,
form div.field.block {
  float: none;
  margin: 1.625em 0; /* a field generally is 4 lines including label + field + top margin + bottom margin */
  padding: 0;
}

.field label,
.block .field label,
form div.field.block label {
  position: relative;
  top: auto;
  left: auto;
  width: auto;
}

.inline .field,
fieldset.inline .field,
form div.field.inline {
  float: left;
  margin: 1.625em 1.625em 0 0; /* a field generally is 4 lines including label + field + top margin + bottom margin */
  padding: 0;
}

.inline .field:last-child,
form div.field.inline:last-child {
  margin-bottom: 1.625em;
}

.inline .field label,
form div.field.inline label {
  position: relative;
  top: auto;
  left: auto;
  width: auto;
}

.aligned .field,
fieldset.aligned .field,
form div.field.aligned {
  float: none;
  margin: 1.625em 0; /* a field generally is 4 lines including label + field + top margin + bottom margin */
  padding: 0 0 0 var(--field-align-label-width);
}

.aligned .field label,
form div.field.aligned label {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--field-align-label-width);
}

.hint {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  background: #444;
  color: #fff;
  padding: .25em .5em;
  margin-left: .75em;
  text-align: center;
  transition: all .25s linear;
  z-index: 1;
}

.hint:before {
  content: " ";
  position: absolute;
  top: 1em;
  left: -1em;
  opacity: 0;
  width: 0;
  height: 0;
  margin-top: -.5em;
  border-width: .5em;
  border-style: solid;
  border-color: #444;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transition: all .25s linear;
}

*:invalid + .hint {
  color: #fff;
  background: red;
}

*:invalid + .hint:before {
  border-right-color: red;
}

*:focus + .hint {
  visibility: visible;
  opacity: 1;
}

*:focus + .hint:before {
  opacity: 1;
}

.hint {
  top: auto;
  margin: 0;
  margin-left: .75em;
}

.hint:before {
  top: 1em;
  left: -14px;
  margin-top: -7px;
  margin-left: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: #444;
  border-bottom-color: transparent;
}

*:invalid + .hint:before {
  border-right-color: red;
  border-bottom-color: transparent;
}

.field.clear {
  clear: both;
}