/*
Tables
================================
*/

/* Default Settings */

:root {
	--table-cell-border-width: 1px;
	--table-cell-border-style: solid;
	--table-cell-border-color: #fff;
	--table-nested-background-color: #fff;
	--table-padded-padding-horizontal: 0.5em;
	--table-padded-padding-vertical: 0.5em;
	--table-striped-background-color: rgba(255,255,255,0.1);
}

/* Element Styles */

table {
	max-width: 100%;
	width: 100%;
	margin-top: calc(var(--line-height) * 1em);
	margin-bottom: calc(var(--line-height) * 1em);
	border-collapse: separate;
	border-spacing: 0;
}

table th,
table td {
	padding: 0 calc(var(--line-height) * 0.75em);
	line-height: calc(var(--line-height) - 1px); /* subtract 1px border */
	border-top-width: var(--table-cell-border-width);
	border-top-style: var(--table-cell-border-style);
	border-top-color: var(--table-cell-border-color);
	text-align: left;
	vertical-align: top;
}

table th {
	font-weight: bold;
	vertical-align: bottom;
	min-width: 10em;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
	line-height: var(--line-height);
	border-top: 0;
}

table tbody + tbody {
	border-top-width: calc(var(--table-cell-border-width) * 2);
	border-top-style: var(--table-cell-border-style);
	border-top-color: var(--table-cell-border-color);
}

table table {
	background-color: var(--table-nested-background-color);
}

table.padded th,
table.padded td {
	padding-top: calc(var(--line-height) * var(--table-padded-padding-vertical));
	padding-bottom: calc(var(--line-height) * var(--table-padded-padding-vertical));
	padding-left: calc(var(--line-height) * var(--table-padded-padding-horizontal));
	padding-right: calc(var(--line-height) * var(--table-padded-padding-horizontal));
}

table.bordered {
	margin-top: calc(var(--line-height) * 1em - 1px);	/* subtract 1px border */
	margin-bottom: calc(var(--line-height) * 1em - 1px);	/* subtract 1px border */
	border: 1px solid var(--border-color);
	border-left: 0;

}

table.bordered th,
table.bordered td {
	border-left: 1px solid var(--border-color);
}

table.striped tbody > tr:nth-child(odd) > td,
table.striped tbody > tr:nth-child(odd) > th {
	background-color: var(--table-striped-background-color);
}