#Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}

#ftr-line {
  width: 60%;
  height: 2px;
  margin: 0 auto 10px;
  background: -webkit-linear-gradient(
    left,
    transparent 0%,
    var(--color-2) 50%,
    transparent 100%
  );
  z-index: 1;
}

#navigation {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

#navigation a {
  display: block;
  position: relative;
  /* filter: grayscale(1) brightness(200%); */
}

#navigation a:hover {
  display: block;
  /* filter: grayscale(0); */
}

#navigation a.active {
  /* filter: drop-shadow(0px 0px 10px #0ca4fb) grayscale(1) brightness(200%) ; */
}

#navigation a.active::after {
  content: '';
  height: 2px;
  width: 65%;
  background-color: #0ca4fb;
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
}

#navigation a.active:hover {
  /* filter: drop-shadow(0px 0px 10px #0ca4fb) grayscale(0) ; */
}

#navigation a img {
  display: block;
  margin: .625em;
  filter: grayscale(1) brightness(200%);
}

#navigation a:hover img {
  display: block;
  margin: .625em;
  filter: grayscale(0);
}
