#Footer {
  /* position: fixed;
  bottom: 0;
  width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}

#ftr-line {
  width: 60%;
  height: 2px;
  margin: 0 auto 10px;
  background: -webkit-linear-gradient(
    left,
    transparent 0%,
    var(--color-2) 50%,
    transparent 100%
  );
}

#navigation {
  display: flex;
  justify-content: space-between;
}

#navigation a {
  display: block;
  filter: grayscale(1) brightness(200%);
}

#navigation a:hover {
  display: block;
  filter: grayscale(0);
}

#navigation img {
  display: block;
  margin: .625em;
}
