#addressbook {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#addressbook > h2 {
  flex: 0;
}

.AddressThead {
  position: absolute;
  margin-top: -5%;
  width: 95%;
}

#addressbook > .panel {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  padding: 20px; /* remove panel padding, sub controls will add their own */
  padding-bottom: 0;
}

#contactListContainer {
  display: flex;
  flex-direction: column;
}

#contactDetailContainer {
  flex: 2;
  margin-left: 20px;
  align-items: center;
}

#contactList {
  flex: 1;
}

#buttonholder {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#contactDetails {
  margin: calc(var(--line-height) * 1em - 1px) 0;
  padding: 0 calc(var(--line-height) * 1em);
  border-color: var(--border-color);
  margin-top: 0;
  display: flex;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
  border-width: 2px;
  border-style: groove;
  flex-direction: row;
  border-image: initial;
}

#addressbook-controls {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex: 0;
  width: 100%;
  min-height: min-content;
  padding: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#addressbook-search {
  flex: 1;
  /* margin-bottom: -16px; */
  margin-left: -15px;
}

#addressbook-controls button {
  flex: 0;
  align-self: flex-end;
  margin: 0;
  /* margin-top: 1em; */
  margin-left: 0.75em;
  font-size: 13px;
  line-height: 26px;
  padding: 2px 14px;
}

#addressbookContent {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
}
#addressbook-search {
  /* flex: 1; */
  display: flex;
}

#searchContacts {
  height: 100%;
  margin: 0 !important;
}

#modalInternal textarea,
select {
  width: 100%;
}

#nxsaddress {
  width: 100%;
}

.contact-avatar {
  flex: 0;
  padding-right: 1em;
  opacity: 1;
}

.contact-avatar svg {
  text-anchor: middle;
  fill: white;
  font-size: 50px;
  height: 32px;
  width: 32px;
  background-color: #555;
  border-radius: 50%;
  margin-right: 0.1em;
  vertical-align: middle;
}

.contactAddresses {
  flex: 1;
  opacity: 0.65;
  font-size: 0.875em;
  margin-left: 2em;
  display: flex;
  justify-content: flex-end;
}
.contact {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact:hover {
  color: var(--color-2);
}
#contactDetails {
  max-width: 100%;
}
#contactDetails img {
  height: 10em;
}

#contactInformation {
  display: flex;
  position: relative;
  justify-content: space-between;
}
#notesContainer {
  max-width: 100%;
}
#notes {
  max-width: 400px;
  max-height: 400px;
  overflow: auto;
}

#addressDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-between;
}
/* #myAddresses {
  margin-left: 40px;
} */

#picUploader {
  display: none;
}
#importAddressBook {
  display: none;
}
.tdd {
  animation: tdd 0.5s;

  display: flex;

  text-align: center;

  border-spacing: 0px;
  border-collapse: collapse;
}
.custom-modal4 {
  background: #1c1d1f;
  /* animation: mymove2 0.5s ease-in-out; */
  height: 550px;
  min-width: 10%;
  width: 700px;
  max-width: 100%;
  height: fit-content;
  overflow: hidden;
}

.myAddressTable {
  max-width: 100%;
  /* min-width: 50%; */
  border: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 280px;
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 10%;
}
.tdAccounts {
  font-weight: bold;
  color: var(--color-2);
  width: 100%;

  text-align: center;

  border: 0.5px solid var(--color-2);
  border-spacing: 0px;
  animation: tdd 0.5s;
}
.tdd:hover {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.24), 0 0 5px 5px rgba(0, 0, 0, 0.19);
}
.searchaccount {
  float: right;
}
@keyframes tdd {
  33% {
    transform: translateX(-20px);
  }
  66% {
    transform: translateX(10px);
    background: #282828;
  }
  99% {
    transform: translateX(0px);
  }
}
.create {
  background: var(--color-2);
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  margin-top: 15%;
  width: 105.3%;
  justify-content: center;
  flex-direction: column;

  margin-left: -19px;
}
#back {
  float: right;
  margin-top: 50px;
  margin-bottom: 60px;
}
.m1 {
  margin: 0px;
  border-bottom: 2px solid var(--color-2);
  color: var(--color-2);
  text-align: center;
  font-size: 24px;
  font-weight: "bold";
  padding: 20px 0;
}
.chosen {
  color: var(--color-2);
}
#Add {
  float: left;
  margin-top: 50px;
  margin-bottom: 60px;
}
.create2 {
  background: var(--color-2);
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  margin-top: 15%;
  width: 105.3%;
  justify-content: center;
  flex-direction: column;

  margin-left: -19px;
}
#Addresstable-wraper {
  margin-top: 2px;
}

.impexpblock {
  display: inline-block;
  position: absolute;
  top: 4em;
  right: 0;
  font-family: var(--mono-font-family);
  font-size: 0.875em;
  opacity: 0.75;
  color: #fff;
  cursor: pointer;
}
a.impexp {
  font-family: var(--mono-font-family);
  font-size: 0.875em;
  opacity: 0.75;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
  display: block;
}
/*------------------------------------------------------------------
MEDIA QUERIES
------------------------------------------------------------------*/

@media (min-width: 300px) {
}
@media (min-width: 375px) {
}
@media (min-width: 480px) {
}
@media (min-width: 600px) {
}
@media (min-width: 800px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1600px) {
}
