#sendrecieve > h2 {
  flex: 0;
}
#sendrecieve > .panel {
  flex: 1;
  overflow-y: auto;
}
#container {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  flex-direction: row;
  justify-content: space-between;
}
.box1 {
  display: flex;
  margin-left: 100px;
}
.box2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  min-width: 50%;
}
.foot {
  float: right;
}
.counter {
  float: right;

  width: auto;
}
/* .tbody {
  line-height: 1em;
  color: white;
  display: block;
} */
/* .table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
} */

#left-buttons {
  padding-top: 40px;
}
/* #thead {
  width: 100%;
} */
.input[type="number"] {
  width: 350px;
}
.label {
  font-size: 40px;
}
#table-wrap {
  text-align: center;
  width: 100%;
}
/* Generic table stylings */
#table-wraper table {
  width: 100%;
  min-width: 50%;
  margin-top: -2%;
  border-right: #fcfcfc;
  border-bottom: #fcfcfc;
  border: 1px solid #ffffff;
  overflow-y: scroll;
  height: 325px;
  display: block;
}
#table-wraper table tbody td,
#table-wraper table thead th,
#table-wraper table tfoot th {
  border-right: #fcfcfc;
  border-bottom: #fcfcfc;
  border: 1px solid #ffffff;
  border-width: 1px;
  width: 100%;
}
#table-wraper table tbody tr:nth-child(even),
#table-wraper table thead tr,
#table-wraper table tfoot tr {
  background: #fcfcfc;
  border: 1px solid #ffffff;
}
#table-wraper .tbody {
  height: 299px;
  position: relative;
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
  min-width: 50%;
}
#table-wraper .td {
  border: 1px solid #ffffff;
}
.thead {
  width: 300px;
  min-width: 50%;
}
#Remove {
  height: 15px;
  width: 15px;
}
