#Market {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exchangeUnitContainer {
  width: 100%;
}

.marketInfoContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.excangeLogo {
  height: 75px;
}

/* .marketDepthOuter {
  min-width: 500px;
  max-width: 800px;
} */

.marketDepthInner {
  position: relative;
  flex: 1;
  min-height: 300px;
  max-width: 50%;
}

.infobox {
  position: absolute;
  top: 0;
  right: 0;
}

.marketSummaryTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.marketSummaryTable div {
  border-bottom: 1px solid white;
}
